p {
		font-size: 18px;

}
header {
	text-align: center;

}
a{
	font-size:35px;
	color: black;
}
h1 {
	text-align: center;
	font-size: 45px;
	font-color: gold;
	border-style: solid;
	border-color: black;
		}

	img {
	background-position: center;
	height: 250px;
	width: 200px;
	margin: 40px 0px 0xp 0px;

}

body {
	font-family: helvetica;
	margin:0 auto;
	max-width: 600px;
	text-align: center;
	background: url("treenyc.jpg");
	background-size: cover;
	background-blend-mode: lighten;
	background-position: center;
	background-color: green; 
	
	.first {
		background:url("chickpeamix.jpg");

	small {
		opacity:0;
	}
	}
	.show-description p {
		height:150px;
	}
.show-description small {
	opacity:1;
}
	
@media (max-width: 500px) {
h1 {
	font-size:50px;
	margin-top: 20px;
	line-height: 40px;
}

	
}
	h2 {
		font-size: 20px;
		margin:20px 0 30px 0;
	
	}
div{
	margin:20px 0  30px 0;
}

	p {
	font-size: 20px;
	padding:24px;
	
	
}

	.small {
		font-size: 16px;
	}
		
		}

    input {
      border: 0;
      border-color: white;
    padding: 10px;
    font-size: 18px;
    }
    input[type="submit"] {
      background: red;
      color: white;
    }

    

